<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('../includes/nav.ejs'); -%>
   

    <form class="product-form" method="POST" action="/ProductTypes/add">
        <div class="form-control">
            <label for="filesystem">ProductTypes Name</label>
            <input type="text" name="ProductName" />
        </div>

        <div class="form-control">
            <label for="filesystem">Choose a filesystem:</label>
            <select id="FileSystemID" name="fileSystemID">
                <% filesystem.forEach(function(item) { %>
                    <option value=<%= item.id %> > <%= item.dataValues.RepositoryURL %> </option>
                <% }); %>
            </select>
        </div>

        <div class="form-control">
            <label for="firmware">Choose a firmware:</label>
            <select id="firmwareID" name="firmwareID">
                <% firmware.forEach(function(item) { %>
                    <option value=<%= item.id %> > <%= item.dataValues.RepositoryURL %> </option>
                <% }); %>
            </select>
      </div>
        <input type="submit">
      </form>

   
</body>
</html>