</head>
<style>
    table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }
    
    td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    }
    
    tr:nth-child(even) {
    background-color: #dddddd;
    }
    </style>
<body>
    <%- include('../includes/nav.ejs'); -%>
      <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Link</th>
        <th>RepositoryURL</th>
        <th>Version</th>
        <th>Compiled_Date</th>
        <th>createdAt</th>
      </tr>
      <% filesystems.forEach(function(filesystem) { %>
        <!-- <strong><%= filesystem.filesystemuctName %></strong> -->
        <tr>
            <td> <%= filesystem.dataValues.id %> </td>
            <td> <%= filesystem.dataValues.Name %> </td>
            <td> <%= filesystem.dataValues.Link %> </td>
            <td> <%= filesystem.dataValues.RepositoryURL %> </td>
            <td> <%= filesystem.dataValues.Version %> </td>
            <td> <%= filesystem.dataValues.Compiled_Date %> </td>
            <td> <%= filesystem.dataValues.createdAt %> </td>
            
        </tr>
      <% }); %>
    </table>

